<nav class="navbar navbar-expand-sm navbar-dark shadow fixed-top py-4">
    <div class="container">
        <a class="navbar-brand" href="#">NodeJs</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0 text-center">
                <li class="nav-item mx-2">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>